.stages {
    margin-top: 160px;
}
.title {
    font-size: 36px;
    font-weight: 800;
    line-height: 43px;
}
.stages_container {
    display: flex;
    position: relative;
    
}
.map {
    height: 100%;
    padding-top: 43px;
    position: sticky;
    top: 150px;
    z-index: 50;
    flex: 0 1 50%;
    .step_map {
        display: flex;
        flex-direction: column;
        gap: 50px;
        padding-top: 23px;
        padding-left: 26px;
    }
}
.steps {
    display: flex;
    flex: 0 1 50%;
    flex-direction: column;
    gap: 55px;
    width: 370px;
    @media screen and (max-width:768px) {
        flex: 1 1 100%;
    }
}