.screenlogo {
    padding-bottom: 100px;
}
.background {
    position: absolute;
    top: 0;
    right: 0;
    transform: translateY(-7rem);
    object-fit: cover;
    .bg {
        z-index: 3;
        object-fit: cover;
    }
}
.pc {
    position: absolute;
    z-index: 4;
    object-fit: cover;
    transform: translateY(6rem);
}
.text {
    display: flex;
    flex-direction: column;
    gap: 116px;
    margin-top: 77px;
    position: relative;
    z-index: 10;
    .toptext {
        span {
            color: #6B5AF9;
            font-weight: 700;
        }
        display: flex;
        gap: 47px;
        flex-direction: column;
        .title {
            font-weight: 700;
            font-size: 36px;
            line-height: 43px;
            span {
                color: #6B5AF9;
            }
        }
        .topAbout {
            font-weight: 400;
            font-size: 16px;
            line-height: 19px;

        }
        
    }
    .bottomtext {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
        .about {
            font-weight: 600;
            font-size: 12px;
            line-height: 16px;
            :first-child {
                color: #6B5AF9;
            }
        }
    }
}
.arrow {
    position: absolute;
    left: 50%;
    transform: translateY(5rem);
    cursor: pointer;
}