.about_container {
    background-color: #F4F8FF;
    border-radius: 20px;
    padding: 65px 98px 187px 98px;
}
.aboutmillenioum {
    margin-top: 160px;
}
.text_about {
    .title {
        font-weight: 800;
        font-size: 36px;
        line-height: 60px;
    }
    .text {
        display: flex;
        flex-direction: column;
        gap: 30px;
    }
}
.about_items {
    display: flex;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    justify-content: space-between;
    align-items: center;
    @media screen and (max-width:992px) {
        flex-direction: column;
    }
    .text_about {
        display: flex;
        flex-direction: column;
        flex: 0 1 50%;
        gap: 30px;
        text-align: start;
        @media screen and (max-width:992px) {
            text-align: center;     
        }
    }
}
.table_about {
    border-radius: 20px;
    background-color: #6B5AF9;
    color: white;
    text-align: center;
    .item_table {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
        padding: 56px 64px;
        .table_title {
            font-weight: 700;
            font-size: 24px;
            line-height: 29px;
        }
        .table_text {
            font-weight: 400;
            font-size: 12px;
            line-height: 14px;
            padding-top: 28px;
        }
    }
}
.checkbox {
    display: flex;
    font-size: 12.5px;
    font-weight: 400;
    line-height: 15px;
    gap: 15px;
    align-items: center;
    padding-top: 25px;
}
.input_about {
    &::placeholder{
        color: #FFFFFF66;
        font-weight: 400;
        font-size: 18px;
        line-height: 21px;
    }
}
.lain {
    width: 100%;
    height: 2px;
    background-color: #FFFFFF66;
    margin-top: 8px;
}
.text_input {
    text-align: start;
    display: flex;
    flex-direction: column;
    gap: 31px;
    margin-top: 46px;
    margin-bottom: 30px;
}
