.items_carusel {
    display: flex;
    width: 100%;
}
.carusel {
    width: 100%;
    display: flex;
    margin-top: 50px;
    position: relative;
    
}
.carusel_container {
    display: flex;
    width: 100%;
}
.btnNext {
    position: absolute;
    right: 0;
    top: 40%;
    background-color: aqua;
    height: 51px;
    width: 51px;
    background-color: #6B5AF9;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 16;
    -webkit-box-shadow: 4px 15px 61px 5px rgba(34, 60, 80, 0.53);
    -moz-box-shadow: 4px 15px 61px 5px rgba(34, 60, 80, 0.53);
    box-shadow: 4px 15px 61px 5px rgba(34, 60, 80, 0.53);
    user-select: none;
    @media screen and (max-width:360px) {
        opacity: 0.5;
    }
    
}
.btnBefore {
    position: absolute;
    left: 0;
    top: 40%;
    height: 51px;
    width: 51px;
    background-color: #6B5AF9;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 16;
    -webkit-box-shadow: 4px 15px 61px 5px rgba(34, 60, 80, 0.53);
    -moz-box-shadow: 4px 15px 61px 5px rgba(34, 60, 80, 0.53);
    box-shadow: 4px 15px 61px 5px rgba(34, 60, 80, 0.53);
    user-select: none;
    @media screen and (max-width:360px) {
        opacity: 0.5;
        
    }
}
.items_carusel {
    .active{
        position: relative;
        z-index: 15;
        left: 0;
        top: 0;
        opacity: 1;
        transition: left 2s ease-out;
        transition: opacity 1s ease;
    }
    .notactive {
        z-index: 5;
        position: absolute;
        left: 25%;
        top: 25%;
        opacity: 0.5;
        transition: left 2s ease-out;
        @media screen and (max-width:768px) {
            display: none;
        }}
}
.triangle_left {
    width: 0;
    height: 0;
    border-top: 7px solid transparent;
    border-left: 14px solid white;
    border-bottom: 7px solid transparent;
    margin-left: 5px;
}
.triangle_right {
    width: 0;
    height: 0;
    border-top: 7px solid transparent;
    border-right: 14px solid white;
    border-bottom: 7px solid transparent;
    margin-right: 5px;
}