.btn {
    background-color: #6B5AF9;
    height: 60px;
    color: white;
    padding: 0px 23px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    font-size: 12px;
    font-weight: 800;
    line-height: 14px;
}